useDynLib(bigsplines)

exportPattern("^[[:alpha:]]+")

S3method(predict, bigspline)
S3method(predict, bigssa)
S3method(predict, bigssg)
S3method(predict, bigssp)
S3method(predict, bigtps)
S3method(print, bigspline)
S3method(print, bigssa)
S3method(print, bigssg)
S3method(print, bigssp)
S3method(print, bigtps)
S3method(print, summary.bigspline)
S3method(print, summary.bigssa)
S3method(print, summary.bigssg)
S3method(print, summary.bigssp)
S3method(print, summary.bigtps)
S3method(summary, bigspline)
S3method(summary, bigssa)
S3method(summary, bigssg)
S3method(summary, bigssp)
S3method(summary, bigtps)


importFrom(graphics, axis)
importFrom(graphics, image)
importFrom(graphics, lines)
importFrom(graphics, mtext)
importFrom(graphics, par)
importFrom(graphics, plot)
importFrom(graphics, polygon)
importFrom(graphics, rect)
importFrom(grDevices, colorRampPalette)
importFrom(grDevices, col2rgb)
importFrom(grDevices, heat.colors)
importFrom(grDevices, rgb)
importFrom(stats, as.formula)
importFrom(stats, model.response)
importFrom(stats, nlm)
importFrom(stats, qnorm)
importFrom(stats, quantile)
importFrom(stats, terms.formula)



